<div class="container-fluid d-flex flex-column">

  <div class="row" id="sky">
    <div class="col-12 sky-wrapper" #sky>

      <div id="rainbow">
        <img src="assets/rainbow_2.png" alt="rainbow">
      </div>

      <div class="cloud-container" *ngFor="let cloud of cloudMap | keyvalue; trackBy: identify" [style.top]="cloud.value.yPosition + '%'">
        <div class="cloud-wrapper">
          <div class="cloud"
          [id]="cloud.key"
          (click)="lightning(cloud.value)"
          [style.marginRight]="cloud.value.startMargin + 'px'"

          [@cloudMove]="cloud"
          (@cloudMove.done)="captureDoneEvent($event)"

          (mouseenter)="toggleRain(cloud.value, true, 0)"
          (mouseleave)="toggleRain(cloud.value, false, 0)"
          >
            <span class="cloud_0"
              [@cloudDarken]="cloud.value.raining"
            ></span>
            <span class="cloud_1"
              [@cloudDarken]="cloud.value.raining"
            ></span>
            <span class="cloud_2"
              [@cloudDarken]="cloud.value.raining"
            ></span>
            <span class="cloud_3"
              [@cloudDarken]="cloud.value.raining"
            ></span>
            <span class="cloud_4"
              [@cloudDarken]="cloud.value.raining"
            ></span>
            <span class="cloud_5"
              [@cloudDarken]="cloud.value.raining"
            ></span>
<!-- 
            <span class="rain"
              [@raining]="cloud.value.raining"
            ></span> -->
            <span class="rain"
              [@raining]="cloud.value.raining">
              <span class="drop drop_0"></span>
              <span class="drop drop_1"></span>
              <span class="drop drop_2"></span>
              <span class="drop drop_3"></span>
              <span class="drop drop_4"></span>
              <span class="drop drop_5"></span>
              <span class="drop drop_6"></span>
              <span class="drop drop_7"></span>
              <span class="drop drop_8"></span>
              <span class="drop drop_9"></span>
              <span class="drop drop_10"></span>
              <span class="drop drop_11"></span>
              <span class="drop drop_12"></span>
              <span class="drop drop_13"></span>
              <span class="drop drop_14"></span>
              <span class="drop drop_15"></span>
              <span class="drop drop_16"></span>
              <span class="drop drop_17"></span>
              <span class="drop drop_18"></span>
              <span class="drop drop_19"></span>
              <span class="drop drop_20"></span>
              <span class="drop drop_21"></span>
              <span class="drop drop_22"></span>
            </span>
            <div class="lightning" *ngIf="cloud.value.lightning">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="grass_background">
    <div class="col-12">
      <button (click)="debug()">Debug</button>
    </div>
  </div>
  <div class="row" id="grass_foreground">
    <div class="col-12">
    </div>
  </div>
</div>